@blue: #3889FF;
@white: #ffffff;
@primary: #3889FF;
@warning: #FFA538;
@danger: #ED4E4E;
@success: #53D4B8;
@gray: #202533;
@lightGray: #FAFAFA;

@ModuleGreen: #1bca30;
@ModuleBlue: #3989ff;
@ModuleOrange: #ffa538;
@ModuleRed: #ec4e4d;